{% extends 'base.html' %}

<!--Главная страница-->

{% block content %}
{{ super() }}
<hr>

<table border="0" align="center" cellpadding="5" class="title-table">
<tr>
    <th>О сайте</th>
</tr>
    <tr>
<td>Вам предоставлена возможность просматривать блоги путешественников и читать их статьи для того, чтобы узнавать о новых местах и их достопримечательностях.
    <p>Также вы можете сами делиться впечатлениями от поездки и оставлять важную информацию для ваших коллег-путешественников.
        Для этого необходимо зарегистрироваться на сайте.</p>
    </td>
</tr></table>

<ul class="list-posts">
{% for w in writers %}
    {% if not w.is_admin %}
<li>
<p class="title"><a href="{{url_for('showWriters', alias= w.id)}}">{{w.name}}</a></p>
</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}
