{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('userava', user_id=current_user.get_id()) }}"></div>
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
			{% if id_user =='1' -%}
			<li>Admin</li>
			{% endif -%}
		<li>Имя: {{ current_user.getName() }}</li>
		<li>Email: {{ current_user.getEmail() }}</li>
		</ul>
		<p><a href="{{url_for('logout')}}">Выйти из профиля</a>
		{% if id_user !='1' -%}
		<p><a href="{{url_for('addPost')}}">Добавить статью</a>
		{% endif -%}
		<form action="{{ url_for('newName', user_id=current_user.get_id() ) }}" method="post" >
		<p><label>Новое имя: </label> <input type="text" name="name" value="" requied />
			<p><input type="submit" value="Изменить" /> </form>
		<form action="{{ url_for('newPsw', user_id=current_user.get_id() ) }}" method="post" >
		<p><label>Новый пароль: </label> <input type="password" name="npsw" value="" requied />
			<p><input type="submit" value="Изменить" /> </form>
	</td></tr>
</table>
{% if id_user !='1' -%}
<h2>Список статей</h2>
{% endif -%}
<ul class="list-posts">
{% for p in posts %}
<li>
<p class="title"><a href="{{url_for('showPost', id= p.id)}}">{{p.title}}</a></p>
<p class="annonce">{{p.text[:40]}}</p>
</li>
{% endfor %}
</ul>
{% endblock %}