{% extends 'base.html' %}

{% block content %}
{{ super() }}

<h1>Список тем</h1>
<div class="lists">
    {% if topics %}

    {% for t in topics %}
    <p class="title"><a href="{{ url_for('show_topics_2', id=t.id_topics)}}">{{t.title}}</a></p>
    {% if t.id_topics == t_id %}
    <div class = "list">
        {% for pp in posts %}
        <p><a href="{{ url_for('show_post', id=pp.id)}}"> - {{pp.title}}</a></p>
        {% endfor %}
    </div>
    {%endif%}
    {% endfor %}
    {% else %}
    <p1>Список пуст</p1>

    {% endif %}
</div>
{% endblock%}
